/* MovieForm.css */
.movie-form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px;
    background-color: #7B62E4;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 20%;
    margin: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Your existing CSS styles */


  